#editNoteModal {

    z-index: 9;
    text-align: center;
    border: 1px solid #d3d3d3;
  }
  #editNoteHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }