.nav-link.active {
  font-weight: bold !important;
  background-color: blue !important;
  padding: 5px 10px !important;
  border-radius: 5px !important;
  color: #00ff00 ;
}

  .navbar-brand, .navbar-nav .nav-link {
    font-size: 1rem; /* Adjust the size as needed */
}
.navbar {
  background: linear-gradient(90deg, #baa13b, #7237a3); /* Adjust the colors as needed */
}
.main-content {
  padding-top: 56px; /* Adjust this value based on your navbar height */
}