.main-content {
    margin-top: 3rem;
}

.container {
    margin-top: 2rem;
}

.form-label {
    font-weight: bold;
}

.form-control {
    background-color: rgb(175, 202, 226);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    color: #dc3545;
}
